
.vs/GR/FileContentIndex/d7d1de81-85e7-45b6-b416-b21c2aa862a0.vsidx
GR/obj/Debug/net6.0/GR.assets.cache
GR/obj/Debug/net6.0/GR.GeneratedMSBuildEditorConfig.editorconfig
GR/obj/GR.csproj.nuget.dgspec.json
GR/obj/project.assets.json
GR/obj/project.nuget.cache
