
.vs/GR/FileContentIndex/d7d1de81-85e7-45b6-b416-b21c2aa862a0.vsidx
GR/obj/Debug/net6.0/GR.assets.cache
GR/obj/Debug/net6.0/GR.GeneratedMSBuildEditorConfig.editorconfig
GR/obj/GR.csproj.nuget.dgspec.json
GR/obj/project.assets.json
GR/obj/project.nuget.cache
GR/obj/Debug/net6.0/GR.pdb
GR/obj/Debug/net6.0/GR.genruntimeconfig.cache
GR/obj/Debug/net6.0/GR.dll
GR/obj/Debug/net6.0/GR.csproj.FileListAbsolute.txt
GR/bin/Debug/net6.0/GR.pdb
GR/bin/Debug/net6.0/GR.dll
.vs/ProjectEvaluation/gr.projects.v7.bin
.vs/ProjectEvaluation/gr.metadata.v7.bin
.vs/GR/v17/.suo
.vs/GR/v17/.futdcache.v2
.vs/GR/DesignTimeBuild/.dtbcache.v2
GR/obj/Debug/net6.0/GR.pdb
GR/obj/Debug/net6.0/GR.genruntimeconfig.cache
