.about-container {
    padding: 0, 1em, 1em, 1em;
}

.about-container h3 {
    border: 1px solid indigo;
    background-color: silver;
    color: indigo;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    padding: 1em;
    color: indigo;
}

.about-row dl {
    text-align: center;
    padding-left: 10px;
}

.about-row ul {
    list-style-type: none;
    text-align: center;
    padding-left: 20px;
}