.home-container {
    padding: 0, 1em, 1em, 1em;
    margin-top: 10px;
}
.home-container h1{
    color: indigo;
    text-align: center;
}

.home-row {
    text-align: left;
}

.home-row h3 {
    border: 1px solid indigo;
    background-color: silver;
    color: indigo;
    text-align: center;
}

footer{
    padding: 1em;
    color: indigo;
}