#view-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#view-img {
    grid-column: 1/3;

}

.resize {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#view-words {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 3/5
}