#view-grid {
    background-image: linear-gradient(225deg, silver, black);
    padding: 100px 100px 100px 0px;
    border: 1px solid indigo;
}

#view-words {
    height: 100%;
    width: 600px;
    background-image: linear-gradient(135deg, white, #3752ac);
    overflow: auto;
    border: 3px solid black;

}